<?xml version="1.0"?>
<launch>
  <arg name="paused" default="false"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="urdf_path" default="$(find abb_irb120_support)/urdf/irb120_3_58g.urdf"/>
  <arg name="sdf_path" default="$(find abb_irb120_support)/urdf/landmark.sdf"/>
  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
<arg name="world_name" value="$(find roboticarm)/robot_gazebo/worlds/testworld.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
  </include>

  <!-- send robot urdf to param server -->
  <param name="robot_description" textfile="$(arg urdf_path)" />
  <param name="land_mark" textfile="$(arg sdf_path)" />

  <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -x 0 -y 0 -z 1.024"
    respawn="false" output="screen" />
 <node name="spawn_gazebo_sdf" pkg="gazebo_ros" type="spawn_model" args="-sdf -param land_mark -model board -x 2.4 -y 2 -z 2"
    respawn="false" output="screen" />

  <include file="$(find abb_irb120_moveit_config)/launch/ros_controllers.launch"/>
  <include file="$(find abb_irb120_moveit_config)/launch/sensor_manager.launch.xml"/>
</launch>
